.MuiFormControl-root {
    margin-top: 8px !important;
    width: fit-content;
    position: relative !important;
}

.MuiAutocomplete-popper ul {
    background-color: #555555;
    color: #ffffff;
}

.MuiAutocomplete-popper li:hover {
    background-color: #333333;
}